In [20]:
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import cross_val_score

# 读取数据

In [6]:
data_01 = pd.read_csv('dataset_20210101.csv')
data_02 = pd.read_csv('dataset_20210102.csv')
data_03 = pd.read_csv('dataset_20210103.csv')
data_04 = pd.read_csv('dataset_20210104.csv')
data_08 = pd.read_csv('dataset_20210108.csv')
data_09 = pd.read_csv('dataset_20210109.csv')
data_10 = pd.read_csv('dataset_20210110.csv')
data_11 = pd.read_csv('dataset_20210111.csv')
data_12 = pd.read_csv('dataset_20210112.csv')

In [7]:
data = pd.concat([data_01, data_02, data_03, data_04, data_08, data_09, data_10, data_11, data_12], ignore_index=True)
data

,source_city_name,target_city_name,node_connectivity,edge_connectivity,hub_promoted_index,CN,AA,RA,JACC,LHN,salton_index,sorensen_index,hub_depressed_index,flag
0,北京,廊坊,10,10,0.9,9,8.767724,0.851984,0.225000,2.307692,1.423025,0.450000,0.230769,1
1,北京,保定,12,12,0.8333333333333334,10,9.846603,0.969841,0.243902,3.076923,1.561738,0.487805,0.256410,1
2,北京,天津,16,16,0.8125,13,13.000810,1.307074,0.309524,5.333333,2.005944,0.619048,0.333333,1
3,北京,张家口,9,9,0.6666666666666666,6,5.697516,0.534524,0.142857,1.384615,0.925820,0.285714,0.153846,1
4,北京,承德,6,6,0 .8333333333333334,5,4.994013,0.502778,0.125000,0.769231,0.790569,0.250000,0.128205,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11143,阿克苏地区,阿拉尔,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
11144,阿克苏地区,喀什地区,2,2,0.5,1,0.960253,0.090909,0.200000,0.500000,0.447214,0.400000,0.250000,1
11145,阿勒泰地区,北屯,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
11146,双河,博尔塔拉蒙古自治州,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
11147,昆玉,和田地区,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1

# 城市编码

In [99]:
# label_encoder = LabelEncoder()

# encoded_labels_source = label_encoder.fit_transform(result_data['source_city_name'])

# result_data['source_city_name'] = encoded_labels_source

In [100]:
# label_encoder = LabelEncoder()

# encoded_labels_source = label_encoder.fit_transform(result_data['target_city_name'])
# result_data['target_city_name'] = encoded_labels_source

In [8]:
data

,source_city_name,target_city_name,node_connectivity,edge_connectivity,hub_promoted_index,CN,AA,RA,JACC,LHN,salton_index,sorensen_index,hub_depressed_index,flag
0,北京,廊坊,10,10,0.9,9,8.767724,0.851984,0.225000,2.307692,1.423025,0.450000,0.230769,1
1,北京,保定,12,12,0.8333333333333334,10,9.846603,0.969841,0.243902,3.076923,1.561738,0.487805,0.256410,1
2,北京,天津,16,16,0.8125,13,13.000810,1.307074,0.309524,5.333333,2.005944,0.619048,0.333333,1
3,北京,张家口,9,9,0.6666666666666666,6,5.697516,0.534524,0.142857,1.384615,0.925820,0.285714,0.153846,1
4,北京,承德,6,6,0 .8333333333333334,5,4.994013,0.502778,0.125000,0.769231,0.790569,0.250000,0.128205,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11143,阿克苏地区,阿拉尔,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
11144,阿克苏地区,喀什地区,2,2,0.5,1,0.960253,0.090909,0.200000,0.500000,0.447214,0.400000,0.250000,1
11145,阿勒泰地区,北屯,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
11146,双河,博尔塔拉蒙古自治州,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
11147,昆玉,和田地区,1,1,0.0,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1

In [11]:
data['hub_promoted_index'] = pd.to_numeric(data['hub_depressed_index'], errors='coerce')

# 下采样

In [24]:
from sklearn.utils import resample
# 假设你有两个类别，分别为正类别和负类别
positive_samples = data[data['flag'] == 1]
negative_samples = data[data['flag'] == 0]

# 下采样负类别样本
num_samples = len(negative_samples)
positive_samples_downsampled = resample(positive_samples, replace=False, n_samples=num_samples, random_state=42)

# 合并下采样后的样本
downsampled_data = pd.concat([negative_samples, positive_samples_downsampled])

In [26]:
downsampled_data.reindex()

,source_city_name,target_city_name,node_connectivity,edge_connectivity,hub_promoted_index,CN,AA,RA,JACC,LHN,salton_index,sorensen_index,hub_depressed_index,flag
102,邯郸,晋中,8,9,0.214286,3,3.222889,0.354167,0.150000,1.928571,0.670820,0.300000,0.214286,0
328,澳门,中山,2,2,0.066667,1,1.000000,0.100000,0.062500,7.500000,0.250000,0.125000,0.066667,0
515,大同,鄂尔多斯,6,7,0.125000,1,1.047952,0.111111,0.071429,1.142857,0.267261,0.142857,0.125000,0
534,临汾,榆林,7,8,0.222222,2,2.395325,0.293478,0.133333,1.777778,0.516398,0.266667,0.222222,0
894,商丘,浙江,12,12,0.181818,4,3.063395,0.208899,0.133333,7.333333,0.730297,0.266667,0.181818,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6807,重庆,广西壮族自治区,5,5,0.066667,2,1.694351,0.132479,0.060606,0.333333,0.348155,0.121212,0.066667,1
5109,郴州,韶关,7,7,0.375000,3,1.992498,0.094412,0.250000,2.625000,0.866025,0.500000,0.375000,1
375,贵阳,黔东南苗族侗族自治州,7,7,0.312500,5,5.311767,0.574481,0.277778,2.187500,1.178511,0.555556,0.312500,1
3252,合肥,滁州,11,11,0.307692,8,6.844081,0.583447,0.275862,3.384615,1.485563,0.551724,0.307692,1
1772,珠海,江门,10,11,0.666667,8,6.418087,0.474319,0.533333,8.727273,2.065591,1.066667,0.666667,1

In [31]:
downsampled_data['flag'].value_counts()

0    571
1    571
Name: flag, dtype: int64

In [27]:
x = downsampled_data.copy()
y = downsampled_data['flag']
del x['flag']

In [28]:
del x['source_city_name']
del x['target_city_name']

In [29]:
model = xgb.XGBClassifier(learning_rate=0.1, n_estimators=100, max_depth=3)
model.fit(x, y)

XGBClassifier(base_score=0.5, booster='gbtree', callbacks=None,
              colsample_bylevel=1, colsample_bynode=1, colsample_bytree=1,
              early_stopping_rounds=None, enable_categorical=False,
              eval_metric=None, gamma=0, gpu_id=-1, grow_policy='depthwise',
              importance_type=None, interaction_constraints='',
              learning_rate=0.1, max_bin=256, max_cat_to_onehot=4,
              max_delta_step=0, max_depth=3, max_leaves=0, min_child_weight=1,
              missing=nan, monotone_constraints='()', n_estimators=100,
              n_jobs=0, num_parallel_tree=1, predictor='auto', random_state=0,
              reg_alpha=0, reg_lambda=1, ...)

In [32]:
scores = cross_val_score(model, X=x, y=y, verbose=0, cv = 10, scoring='f1')
scores

array([0.68852459, 0.65486726, 0.73584906, 0.66666667, 0.61654135,
       0.71666667, 0.66666667, 0.76422764, 0.74336283, 0.66666667])

In [33]:
import numpy as np

In [34]:
np.mean(scores)

0.6920039397589832